/* .good-quest-grid_column {
    display: inline-block;
    vertical-align: top;
} */
.good-quest-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
}
.good-quest-grid_column {
  background-clip: padding-box;
}
 
/* Style your items */
.good-quest-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 1rem;
}