.app-cross {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 10;
  font-size: 2rem;
  background: var(--main-background-color);
  opacity: 0.5;
  color: var(--main-font-color);
  border-radius: 50%;
  border: none;
  backdrop-filter: blur(2rem);
}


@media only screen and (max-width: 1024px) {
  .app-cross {
  }
  .overflow-blur {
    filter: grayscale(1);
    opacity: 0.05;
  }
  .app-cross {
    top: 5rem;
  }
}
