.navbar-back {
  position: relative;
  width: 100%;
  background: transparent;
  z-index: 13;
}
.nav-container {
  transition: all 0.3s ease;
}

.navbar-back-shadow {
  box-shadow: 0px 8px 10px var(--shadow-color);
}

.center-links .fa-chevron-left {
  animation: move-right 0.5s ease-out forwards;
}

@keyframes move-right {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
.navbar-back {
  /* position: fixed !important; */
  left: 0;
  width: 100%;
  top: 0;
}
.nav-animate {
}
#small-logo {
  fill: var(--main-font-color);
  animation: zoom-logo 0.34s ease-in-out forwards;
}
@keyframes zoom-logo {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slide-from-top {
}
.center-links + .btn-primary {
  width: auto;
  margin-top: 0 !important;
}
.nav-no-animate {
}
.navbar * {
  transition: all 0.2s ease-out;
  text-decoration: none;
}
a {
  text-decoration: none;
}
button,
a {
  cursor: pointer;
}
.left-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1.3s ease-in-out;
  font-family: var(--font-one);
  position: fixed;
  left: 0;
  top: 0;
  padding: 3rem 4rem;
  width: 100%;
}
.navbar-bottom .right-icons-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 0rem;
}
.navbar-bottom .right-icons-links button:not(.btn-primary) {
  background: transparent;
  border: none;
  padding: 0 0rem;
  cursor: pointer;
}
.navbar-bottom .right-icons-links a {
  padding: 0 0;
  color: var(--main-font-color);
  line-height: 1;
}

.navbar-bottom .right-icons-links > button:last-child {
  margin-left: 2rem;
}
.navbar-bottom .left-links a {
  padding: 1rem 2rem;
  font-weight: normal;
}
.navbar-bottom .left-links a:first-child {
  padding-left: 0;
}
.right-icons-links > .btn-link {
  border: none;
  height: 5rem;
  border-radius: var(--radius);
  display: inline-flex;
  background: none;
  color: var(--white) !important;
  box-shadow: 0.3rem 0.3rem 1rem var(--shadow-color),
    -0.3rem -0.3rem 1rem var(--card-shadow-color);
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  font-weight: normal;
}
.navbar-top .btn-link .fas {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.navbar .left-links,
.navbar .right-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.navbar .right-links a {
  margin-left: 2rem;
}
.navbar a {
  text-decoration: none;
  /* color: var(--glass-button-font-color); */
  font-weight: bolder;
  font-size: 1.5rem;
}
.navbar a:hover {
  color: var(--main-font-color);
}
.navbar a.colored {
  color: var(--theme-color);
}
.navbar a.colored:hover {
  color: var(--theme-color-hover);
}
.nav-mobile {
  display: none;
}
.nav-logo {
  font-weight: bolder;
}
.slide-up {
  transition: all 0.2s var(--easing);
  transform: translateX(-400%);
}

.nav-hamburger {
  width: 5rem;
  height: 3rem;
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-start;
}
.nav-hamburger > div {
  height: 3px;
  border-radius: var(--radius);
  background-color: var(--main-font-color);
  /* margin-bottom: 0.7rem; */
  width: 70%;
}
.nav-hamburger > div:last-child {
  width: 55%;
}
.nav-mobile {
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 0rem;
  top: 0;
}
.hamburger {
  position: absolute;
  right: 4rem;
  width: 5rem;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(-50%);
  justify-content: space-around;
  z-index: 6;
  height: 2.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}
.hamburger > div {
  width: 3rem;
  height: 2px;
  border-radius: var(--radius);
  transform: translateX(000%);
  background: var(--main-font-color);
}
.hamburger > div:nth-child(2) {
  display: none;
}
.hamburger > div:nth-child(3) {
  width: 2rem;
}
.nav-logo {
  position: absolute;
  left: 4rem;
  top: 50%;
  transform: translateY(-50%);
}
.mobile-links {
  position: fixed;
  height: 130vh;
  top: -15vh;
  left: 0;
  background: var(--theme-color);
  max-width: 50rem;
  padding-top: 10rem;
  background: var(--main-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10rem 4rem;
  z-index: 2;
  transform: translateX(-140%);
  /* border-left: 0.1rem solid var(--shadow-color); */
  /* box-shadow: var(--neo-shadows); */
  box-shadow: -1rem 0 4rem var(--shadow-color);
}
.mobile-links-overlay {
  position: fixed;
  left: 0;
  z-index: 1;
  height: 100vh;
  top: 0;
  width: 100%;
  opacity: 0.5;
  background: var(--black);
}
.hamburger.active > div:first-child {
  transform: rotateZ(45deg) translateY(5px) translateX(7%);
  width: 3rem;
}
.hamburger.active {
  /* right: 3rem; */
}
.hamburger.active > div:nth-child(2) {
  opacity: 0;
  transform: translateX(200%);
  width: 3rem;
}
.hamburger.active > div:last-child {
  width: 3rem;
  transform: rotateZ(-45deg) translateY(-5px) translateX(5%);
}
.mobile-links > a {
  text-decoration: none;
  position: relative;
  width: 100%;
  text-align: left;
  color: var(--button-font-color);
  padding: 3rem 0rem 2rem;
  font-size: 1.6rem;
}
.mobile-links > a::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 0.3rem;
}
.mobile-links.active {
  transform: translateX(0%);
}
.nav-mobile .right-icons-links {
  width: 100%;
}
.nav-mobile .right-icons-links > div {
  padding: 2rem 0;
  border-bottom: 0.1rem solid var(--divider-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-mobile .right-icons-links > div > * {
  padding: 0 1rem;
  color: var(--button-font-color);
  font-size: 2rem;
  background: transparent;
  border: none;
}
.nav-mobile .right-icons-links > div > *:last-child {
  padding-right: 0;
}

@media only screen and (max-width: 766px) {
  .navbar-bottom .right-icons-links a {
    padding: 0 1rem;
  }
  .navbar-bottom .right-icons-links a:last-child {
    padding-right: 1rem;
  }
  .navbar-back .header {
    font-size: 3rem !important;
  }
  .navbar-bottom {
    padding: 3rem 3rem 3rem;
    margin-bottom: -12vh;
    display: flex;
    justify-content: space-between;
  }
  /* .nav-wrapper {
    display: none;
  } */
  .nav-desktop {
  }
  .navbar-back {
    background-color: transparent;
    /* box-shadow: 0 0 1rem var(--shadow-color); */
  }
}
@media only screen and (max-width: 968px) {
  .center-links .cursive {
    font-size: 3rem;
  }
  .nav-mobile {
    height: 6rem;
    z-index: 7;
  }
  .nav-mobile .left-icons {
    padding-left: 3rem;
    padding-top: 1.2rem;
  }
  .nav-mobile .left-icons img {
    height: 30px;
  }
  .nav-logo {
    left: 2rem;
  }
  .hamburger > div {
    width: 3rem;
  }
  .hamburger {
    position: absolute;
    right: 3rem;
    width: 5rem;
    height: 2.5rem;
    top: 50%;
  }
  .hamburger > div:nth-child(2) {
    width: 2rem;
  }
  .mobile-links > a {
    font-size: 1.6rem;
  }
  #small-logo {
    width: 20px;
  }
}
